@model ApplicationUser

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit UserProfile </h3>
                        
                        
                        <form method="post">
                            <input asp-for="Id" hidden/>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    
                                    <div class="form-outline">
                                       
                                        <input asp-for="Name" class="form-control form-control-lg" />
                                        <label asp-for="Name" class="form-label" for="firstName">User Name</label>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                      
                                        <input asp-for="PhoneNumber" class="form-control form-control-lg" />
                                        <label asp-for="PhoneNumber" class="form-label" for="lastName">Phone Number</label>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input asp-for="StreetAddress" class="form-control form-control-lg" />
                                        <label asp-for="StreetAddress" class="form-label" for="firstName">Street Address</label>
                                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input asp-for="City" class="form-control form-control-lg" />
                                        <label asp-for="City" class="form-label" for="lastName">City</label>
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input asp-for="State"  class="form-control form-control-lg" />
                                        <label asp-for="State" class="form-label" for="firstName">State</label>
                                        <span asp-validation-for="State" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input asp-for="PostCode"  class="form-control form-control-lg" />
                                        <label asp-for="PostCode" class="form-label" for="lastName">Postal Code</label>
                                        <span asp-validation-for="PostCode" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>